<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>amgyGPT - Chat</title>

    <link rel="stylesheet" href="/static/chat.css">
    <script type="text/javascript" src="/static/chat.js"></script>
</head>
<body>
    <h2>Chat!</h2>
    <table id="conversation" style="max-width: 50rem;"></table>

    <br>
    <label for="chat-message"></label>
    <textarea name="chat-message" id="chat-message" cols="40" rows="3"></textarea>
    <br>
    <button id="send-message">Send</button>
    <div id="message-loader" class="loader"></div>

    <p><i>None of this is saved. Please use screenshots.</i></p>
</body>
</html>
